<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Upload" stopProcessing="true">
          <match url="^upload" />
          <action type="Rewrite" url="/" redirectType="Permanent" />
        </rule>
        <rule name="User" stopProcessing="true">
          <match url="^user" />
          <action type="Rewrite" url="/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>